
<div class=" nosotros">
    <div class="container1">

        <div class="Image" >
            <div class="information">
                <h1 class="text-title">Nosotros</h1>
                <p class="text-content"> En <span class="yellow"> Power Fit, </span> nos apasiona el fitness y el bienestar en todas sus formas. Somos un ecommerce especializado en suplementos, equipamiento y ropa deportiva, diseñado para ayudarte a alcanzar tus objetivos y llevar tu rendimiento al siguiente nivel.</p>
            </div>
        </div>

    </div>
    <div class="container2">

        <div class="Image2" >
            <div class="information2">
                <p class="text-content2"> Nuestro objetivo principal es brindarte una experiencia de compra excepcional, donde puedas encontrar todo lo que necesitas para potenciar tus entrenamientos y mejorar tu estilo de vida activo.
                </p>
            </div>
        </div>

    </div>
    <div class="container3">

        <div class="Image3" >
            <div class="information3">
                <p class="text-content3"> Libera tu máximo potencial con </p>
                <h1 class="text-title1"> Power Fit!</h1>
                <p class="scroll">Volver arriba <i class="fa-solid fa-angle-up"></i>
                </p>

            </div>
        </div>


    </div>



</div>
<app-footer></app-footer>
