
<div class="body  d-lg-flex flex-lg-column">
  <div class="carusel ">
    <div class="image-section " >

      <app-carousel></app-carousel>
    </div>
  </div>


  <div class="sponsor ">
    <div class="carousel-section">
      <app-carousel-sponsor></app-carousel-sponsor>
    </div>
  </div>


  <div class="product container-fluid">
    <div class="top-sellers-section">
      <h2 class="titulos">Top más vendidos</h2>
      <app-carousel-product></app-carousel-product>
    </div>
  </div>
  <div class="promo">
    <div class="promotions-section">

      <h2 class="titulos">Promociones</h2>
      <app-promociones></app-promociones>
    </div>
  </div>
</div>

