<div class="container">
  <div class="imagen">
    <div class="custom-box">
      <img src="assets/Advanced_Whey_Protein.png" alt="Imagen" class="box-image">
    </div>

  </div>
  <div class="description">
    <div class="tittle">
      <div class="product-container">
        <h2 class="product-title">Advanced Whey (1000 gr.) (33 sv.)</h2>
        <p class="product-price"> <strong>$9600</strong> </p>
      </div>
    </div>
    <div class="button_number">
      <div class="number-control">
        <button class="btn btn-primary" (click)="decrement()"><</button>
        <span class="number">{{ number }}</span>
        <button class="btn btn-primary" (click)="increment()">></button>
      </div>

    </div>
    <div class="button_add">
      <button class="btn btn-primary btn-add-to-cart">Agregar al carrito</button>
    </div>
    <div class="description_one">
      <div class="product-description">
      <h2 class="title">Descripción del producto</h2>
      <ul class="description-list">
        <li>24 grs de proteína y 5 grs de creatina por medida (scoop).</li>
        <li>Favorece el crecimiento y desarrollo de los músculos.</li>
        <li>Acelera la recuperación muscular.</li>
        <li>Mejora la reparación del tejido muscular.</li>
        <li>Se recomienda consumir todos los días.</li>
      </ul>
    </div>
    </div>
    <div class="envio">
      <div class="shipping-options">
        <h2 class="title">
          Envíos
        </h2>
        <div class="options-paragraph">
          <i class="fas fa-truck"></i>
          <div class="paragraph-content">
            <p>Moto mensajería CABA ($1500).</p>
            <p>Envíos a todo el país a través de Mercado Envíos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="metodo_pago">
      <div class="payment-methods">
        <h2 class="title">
          Métodos de Pago
        </h2>
        <div class="methods-paragraph">
          <i class="fas fa-credit-card"></i>
          <div class="paragraph-content">
            <p>Tarjetas de crédito</p>
            <p>Tarjetas de débito</p>
            <p>Mercado Pago</p>
            <p>Transferencias</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
