<div class="promo mt-5 ">


    <div class="item  d-flex  flex-lg-column justify-content-center align-items-center">

      <div class="circle ">
        <img class="descuento" src="assets/sponsor/30.png" alt="">
      </div>
      <div class="card-img">

        <img src="assets/sponsor/producto5.png" class="card-img" alt="Nombre del producto">
      </div>
      <div class="card-body">
        <div>

          <h5 class="card-title">Nombre del producto1</h5>
          <p class="card-title">Precio</p>
        </div>
        <div>

          <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
        </div>
      </div>
    </div>
    <div class="item  d-flex  flex-lg-column justify-content-center align-items-center">

      <div class="circle ">
        <img class="descuento" src="assets/sponsor/20.png" alt="">
      </div>
      <div class="card-img">

        <img src="assets/sponsor/guante.png" class="card-img" alt="Nombre del producto">
      </div>
      <div class="card-body">
        <div>

          <h5 class="card-title">Nombre del producto1</h5>
          <p class="card-title">Precio</p>
        </div>
        <div>

          <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
        </div>
      </div>
    </div>
    <div class="item  d-flex  flex-lg-column justify-content-center align-items-center">

      <div class="circle ">
        <img class="descuento" src="assets/sponsor/30.png" alt="">
      </div>
      <div class="card-img">

        <img src="assets/sponsor/pantalon.png" class="card-img" alt="Nombre del producto">
      </div>
      <div class="card-body">
        <div>

          <h5 class="card-title">Nombre del producto1</h5>
          <p class="card-title">Precio</p>
        </div>
        <div>

          <a href="#" class=" button-compra btn btn-warning"> Comprar</a>
        </div>
      </div>
    </div>
   
  </div>
