
<div class="box">
  <div class="boxsupplement row">
    <h1 class="text-center">Detalle de Producto</h1>
    <h1>Suplementos:</h1>
    <div class="supplement">
      <div class="boximg">
        <img src="../../../assets/producto/Beta_alanine.png" alt="" />
      </div>
      <div class="info">
        <p class="text-center">
          Beta alanine<br />
          (300 gr.) (150 SV)
        </p>
        <p class="text-center">
          <b>$4900</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>
            Mejora el rendimiento físico en actividades de alta intensidad.
          </li>
          <li>
            Aumenta la concentración de carnosina, retrasando la fatiga
            muscular.
          </li>
          <li>Consumir previo a la actividad.</li>
        </ul>
      </div>
    </div>
    <div class="supplement">
      <img src="../../../assets/producto/Ena_whey_portein.png" alt="" />
      <div class="info">
        <p>
          Ena whey protein<br />
          (1000 gr.) (150 SV)
        </p>
        <p>
          <b>$9600</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>MProteína de máxima pureza.</li>
          <li>25 grs de proteína por porción (scoop).</li>
          <li>Recuperación muscular rápida y efectiva.</li>
          <li>Mejora el rendimiento físico.</li>
        </ul>
      </div>
    </div>
    <div class="supplement">
      <img src="../../../assets/producto/producto3.png" alt="" />
      <div class="info">
        <p>
          Nf nutrition cratinina<br />
          (300 gr.)
        </p>
        <p>
          <b>$7680</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Fórmula pura.</li>
          <li>5grs de creatina pura por porción.</li>
          <li>Favorece el crecimiento y desarollo de los músculos.</li>
          <li>Reduce la fatiga muscular.</li>
        </ul>
      </div>
    </div>
    <div class="supplement">
    <img src="../../../assets/producto/Cla_carnitina.png" alt="" />
    <div class="info">
      <p>
        xbody cl + carnitina<br />
        (1000 gr.) (150 SV)
      </p>
      <p>
        <b>$5400</b>
      </p>
    </div>
    <div class="descript">
      <p>Descripció:</p>
      <ul>
        <li>Mejora el metabolismo.</li>
        <li>Favorece la conversión de ácidos graso en energía.</li>
        <li>Alta pureza.</li>
      </ul>
    </div>
  </div>
    <div class="supplement sbox">
      <div class="saleoff col-sm-1">
        <span class="offer">30%</span>
      </div>
      <img
        src="../../../assets/producto/L-lucine.png"
        alt=""
        class="imgLuci col-sm-4"
      />
      <div class="info col-sm-2">
        <p>
          xbody L. leucina<br />
          (2500 gr.) (50 SV)
        </p>
        <p>$9600 <b>$6720</b></p>
      </div>
      <div class="descript col-sm-4">
        <p>Descripció:</p>
        <ul>
          <li>
            Mejora el rendimiento físico en actividades de alta intensidad.
          </li>
          <li>
            Aumenta la concentración de carnosina, retrasando la fatiga
            muscular.
          </li>
          <li>Consumir previo a la actividad.</li>
        </ul>
      </div>
    </div>
    <div class="supplement">
      <img src="../../../assets/producto/XBODY_Whey_Protein.png" alt="" />
      <div class="info">
        <p>xbody whey protein</p>
        <p>
          <b>$5400</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>20 grs de proteína por medida (scoop).</li>
          <li>favorece e el desarrollo muscular.</li>
          <li>Ayuda en la recuperación de los músculos.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="boxequipment row">
    <h1>Equipamiento:</h1>
    <div class="equipment dbox">
      <div class="saleoff col-sm-1">
        <span class="offer">20%</span>
      </div>
      <img
        src="../../../assets/producto/Guantes Pro Wrist.png  "
        alt=""
        class="imgLuci"
      />
      <div class="info">
        <p>Guante pro wrist<br /></p>
        <p>$9600 <b>$6720</b></p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>
            Mejora el rendimiento físico en actividades de alta intensidad.
          </li>
          <li>
            Aumenta la concentración de carnosina, retrasando la fatiga
            muscular.
          </li>
          <li>Consumir previo a la actividad.</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="options"
            id="options1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="options1">S</label>
          <input
            type="radio"
            class="btn-check"
            name="options"
            id="options2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="options2">M</label>
          <input
            type="radio"
            class="btn-check"
            name="options"
            id="options3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="options3"
            ><Label>L</Label></label
          >
        </form>
      </div>
    </div>
    <div class="equipment">
      <img
        src="../../../assets/producto/Pesa Rusa de PVC.png"
        alt=""
        class="imgLuci"
      />
      <div class="info">
        <p>Pesa rusa pvc</p>
        <p>
          <b>$2300</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Manija de comodo agarre.</li>
          <li>No mancha el piso y no se oxida.</li>
          <li>ideal para funcional,crossfit y similares.</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="optionspesa"
            id="optionspesa1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionspesa1"
            >2kg</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionspesa"
            id="optionspesa2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionspesa2"
            >5kg</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionspesa"
            id="optionspesa3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionspesa3"
            >8kg</label
          >
        </form>
      </div>
    </div>
    <div class="equipment">
      <img
        src="../../../assets/producto/Rueda abdominales doble.png "
        alt=""
        class="imgLuci"
      />
      <div class="info">
        <p>Rueda abdominales</p>
        <p>
          <b>$3700</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Rueda doble para trabajos de abdominales.</li>
          <li>Peso 0.403 kg.</li>
          <li>CDimensiones18 × 33 × 5 cm.</li>
        </ul>
      </div>
    </div>
    <div class="equipment">
      <img
        src="../../../assets/producto/Soga para fitness.png"
        alt=""
        class="imgLuci"
      />
      <div class="info">
        <p>soga para saltar</p>
        <p>
          <b>$2900</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Soga con manijas de plástico.</li>
          <li>Ideal para training y crossfit.</li>
          <li>
            Medida: 2,85m de largo y 0,12m de largo de manijas. Largo total:
            3,10m.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="boxclothing row">
    <h1>Indumentaria</h1>
    <div class="clothing">
      <div class="boximg">
        <img src="../../../assets/producto/Pantalon hombre dorso.png" alt="" />
        <h5 style="margin-left: 35px">Dorsal</h5>
      </div>
      <div class="boximg">
        <img src="../../../assets/producto/Pantalon hombre frente.png" alt="" />
        <h5 style="margin-left: 40px">Frente</h5>
      </div>
      <div class="info">
        <p>Pantalon deportivo hombre<br /></p>
        <p>
          <b>$16000</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Sin costuras.</li>
          <li>
            Facilita la transpiración reduciendo la humedad y manteniéndote
            seco.
          </li>
          <li>Inhibe la proliferación de microorganismos.</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="optionspants"
            id="optionspants1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionspants1"
            >S
          </label>
          <input
            type="radio"
            class="btn-check"
            name="optionspants"
            id="optionspants2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionspants2">M</label>
          <input
            type="radio"
            class="btn-check"
            name="optionspants"
            id="optionspants3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionspants3">L</label>
          <input
            type="radio"
            class="btn-check"
            name="optionspants"
            id="optionspants4"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionspants4"
            >XL</label
          >
        </form>
      </div>
    </div>
    <div class="clothing">
      <div class="boximg">
        <img src="../../../assets/producto/Remera hombre dorso.png " alt="" />
        <h5 style="margin-left: 35px">Dorsal</h5>
      </div>
      <div class="boximg">
        <img src="../../../assets/producto/Remera hombre frente.png" alt="" />
        <h5 style="margin-left: 40px">Frente</h5>
      </div>
      <div class="info">
        <p>Remera deportiva hombre</p>
        <p>
          <b>$6000</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Cuello redonde.</li>
          <li>Material:80%Algodón ,20%Poliéster.</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="optionsremera"
            id="optionsremera1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionsremera1"
            >S
          </label>
          <input
            type="radio"
            class="btn-check"
            name="optionsremera"
            id="optionsremera2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionsremera2"
            >M</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionsremera"
            id="optionsremera3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionsremera3"
            >L</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionsremera"
            id="optionsremera4"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionsremera4"
            >XL</label
          >
        </form>
      </div>
    </div>
    <div class="clothing">
      <div class="boximg">
        <img src="../../../assets/producto/Termica hombre dorso.png" alt="" />
        <h5 style="margin-left: 35px">Dorsal</h5>
      </div>
      <div class="boximg">
        <img src="../../../assets/producto/Termica hombre frente.png" alt="" />
        <h5 style="margin-left: 40px">Frente</h5>
      </div>
      <div class="info">
        <p>Remera termica hombre</p>
        <p>
          <b>$9000</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Sin costura.</li>
          <li>
            Facilita la traspiracion reduce la humedad y manteniéndote seco.
          </li>
          <li>inhibe la proliferacion de microorganismos.</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="optionstermica"
            id="optionstermica1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionstermica1"
            >S
          </label>
          <input
            type="radio"
            class="btn-check"
            name="optionstermica"
            id="optionstermica2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionstermica2"
            >M</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionstermica"
            id="optionstermica3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionstermica3"
            >L</label
          >
          <input
            type="radio"
            class="btn-check"
            name="optionstermica"
            id="optionstermica4"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionstermica4"
            >XL</label
          >
        </form>
      </div>
    </div>
    <div class="clothing">
      <div class="boximg">
        <img src="../../../assets/producto/Top mujer dorso.png" alt="" />
        <h5 style="margin-left: 35px">Dorsal</h5>
      </div>
      <div class="boximg">
        <img src="../../../assets/producto/Top mujer frente.png" alt="" />
        <h5 style="margin-left: 40px">Frente</h5>
      </div>
      <div class="info">
        <p>top deportivo mujer</p>
        <p>
          <b>$500</b>
        </p>
      </div>
      <div class="descript">
        <p>Descripció:</p>
        <ul>
          <li>Espalda competicion.</li>
          <li>Banda elastizada.</li>
          <li>Material: 80% poliamida 20% elastano</li>
        </ul>
      </div>
      <div class="talle">
        <form>
          <input
            type="radio"
            class="btn-check"
            name="optionstop"
            id="optionstop1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionstop1">S </label>
          <input
            type="radio"
            class="btn-check"
            name="optionstop"
            id="optionstop2"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionstop2">M</label>
          <input
            type="radio"
            class="btn-check"
            name="optionstop"
            id="optionstop3"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="optionstop3">L</label>
          <input
            type="radio"
            class="btn-check"
            name="optionstop"
            id="optionstop4"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="optionstop4">XL</label>
        </form>
      </div>
    </div>
  </div>
</div>

